@font-face{
    font-family: 'MuliRegular';
    src: url('../assets/fonts/Muli-Regular.ttf') format('truetype');
    font-style: normal;
}

@font-face{
    font-family: 'MuliBold';
    src: url('../assets/fonts/Muli-Bold.ttf') format('truetype');
    font-style: normal;
}

@font-face{
    font-family: 'MuliExtraBold';
    src: url('../assets/fonts/Muli-ExtraBold.ttf') format('truetype');
    font-style: normal;
}

.header{
    background: url('../assets/images/bg/header-bg-img.jpg') center center/cover no-repeat;
    height: 95vh;
    padding-top: 69px;
}

.header__top{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

.header__logo{
    position:absolute;
}

.main-menu__list{
    display: flex;
    justify-content: space-between; 
    list-style-type: none; 
}

.main-menu__link{
    text-decoration: none;
    margin-right: 35px; 
    color: #fff;
    font-family: 'MuliRegular';
    font-size: 16px;
}

.header__right-block{
    display: flex;
    align-items:center;
}

.personal__list{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    
}

.personal__list-item{
    margin-right: 46px;
}


.personal__round-item{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18px;
    height: 18px;
    background-color:#fff;
    border-radius: 100%;
}


.header__social-round{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    background-color: #ffffff;
    border-radius: 100%;
    margin-right: 10px;
}

.header__social-list{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.header__content{
    display: flex;
    justify-content: center;
}

.header__content-btn{
    width: 280px;
    height: 70px;
    border-radius: 35px;
    margin-top: 120px;
    font-size: 24px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 40px;
    text-align: center;
    color: #fff;
}
.btn--green{
    background-color: #0aa566;

}

/*section smoothies*/

.smoothies{
    width: 1010px;
    min-height: 870px;
    display: block;
    margin: 0 auto;
    padding-top: 98px;
}

.smoothies__title{
    color: #f7ae3b;
    font-size: 50px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 40px;
    text-align: center;
    
}

.smoothies__text{
    width: 915px;
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 35px;
    text-align: center;
    color: #1e1e1e;
    display: block;
    margin: 0 auto;
    margin-top: 55px;
}

.smoothies-wrapper{
    display: flex;
    flex-wrap: wrap;
    margin-top: 88px;
}

.smoothies-wrapper__block{
    width: 240px;
    height: 180px;
    text-align: center;
    border: 1px solid #f6edde;
}

.smoothies-wrapper__title{
    font-family: Muli;
    font-size: 25px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.6;
    letter-spacing: -0.5px;
    text-align: center;
    color: #f2612d;
}

/*drink*/

.drink{
    min-height: 800px;
    background-color: #14826f;
    display: flex;
    position: relative;
    justify-content: flex-end;
    align-items: center;
}

.drink__title{
    font-family: Muli;
    font-size: 55px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.09;
    letter-spacing: -1.1px;
    text-align: left;
    color: #ffffff;
}

.drink__title-modification{
    color: #cae941;
    text-decoration: underline;
    text-decoration-style: wavy;
}

.drink__img{
    position: absolute;
    bottom: -10%;
    right: 50%;
}

.drink__wrapper{
    padding: 98px 200px;
}

.drink__list{
    font-family: 'MuliExtraBold';
    font-size: 21px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.05;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    margin-top: 68px;
}

.drink__list-modification{
    font-family: 'MuliRegular';
}

.drink__btn{
    width: 380px;
    height: 60px;
    border-radius: 30px;
    border: solid 2px #f8b231;
    background-color: #14826f;
    color: white;
    font-family: Muli;
    font-size: 21px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.05;
    letter-spacing: normal;
    margin-top: 50px;
}

/*product's */
.product{
    display: flex;
    justify-content: space-around;
    min-height: 720px;
    align-self: center;
}

.product__intro{
    width: 480px;
    height: 720px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    
}

.product__intro:first-child{
    background-color: #632b17;
}

.product__intro:nth-child(2){
    background-color: #178670;
}

.product__intro:nth-child(3){
    background-color: #f7ae3b;
}

.product__intro:last-child{
    background-color: #c3471b;
}

.product__title{
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.92;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}

.product__selection{
    font-size: 21px;
    font-style: italic;
    color: #fff;
}

.product__btn{
    width: 204px;
    height: 60px;
    border-radius: 30px;
    border: solid 2px #ffffff;
    background-color: transparent;
    color: white;
}