// main: ./../main.less

@media only screen and (min-width : 1280px) and (max-width : 1440px) {
    .header__top {
        position: relative;
        padding: 0 20px;
    }

    .personal__list-item {
        margin-right: 30px;
    }

    .main-menu__link {
        margin-right: 25px;
    }
}