// main: ./../main.less

.personal__list{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    position: relative;
    
}

.personal__list-item{
    margin-right: 46px;
}


.personal__round-item{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18px;
    height: 18px;
    background-color:#fff;
    border-radius: 100%;
    position: absolute;
    right: 14%;
    top: -12px;
}

