// out: ./main.min.css, compress: true, sourceMap: true 

@import './blocks/_fonts.less';


html {
    font-family: 'MuliRegular', sans-serif;
    font-size: 10px;

}

* {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'MuliExtraBold', sans-serif;
}

h2{
    font-size: 5rem;
    color: #f7ae3b;
}





@import './blocks/_header.less';
@import './blocks/_main-menu.less';
@import './blocks/_personal.less';
@import './blocks/_button.less';
@import './blocks/_circular-menu.less';
@import './blocks/_smoothies.less';
@import './blocks/_about.less';
@import './blocks/_product.less';
@import './blocks/_story.less';
@import './blocks/_testimonials.less';
@import './blocks/_blog.less';
@import './blocks/_inst.less';
@import './blocks/_footer.less';
@import './blocks/_payments.less';




@import './blocks/_mediaMaxW768.less';
@import './blocks/_mediaMaxW1024.less';
@import './blocks/_mediaMaxW1279.less';
@import './blocks/_mediaMaxW1440.less';
@import './blocks/_mediaMaxW1600.less';


